.awesomplete > ul > li:hover {
	background-color: navajowhite !important;
	color: black !important;
}		

.awesomplete > ul > li[aria-selected="true"] {
	background-color: #052751 !important;
	color: white !important;
}


.awesomplete > ul > li {
	color: white !important;
}


.awesomplete > ul {
	background: #375573 !important;
	box-shadow: 0.05em 0.2em 0.7em #695d5d !important;
    border-color: slategray;
}


.awesomplete mark,
.awesomplete li:hover mark,
.awesomplete li[aria-selected="true"] mark {
	color: white !important;
	background-color: chocolate !important;
}

