.awesomplete > ul > li:hover {
	background-color: navajowhite !important;
	color: black !important;
}		

.awesomplete > ul > li[aria-selected="true"] {
	background-color: #1e2124 !important;
	color: white !important;
}


.awesomplete > ul > li {
	color: white !important;
}


.awesomplete > ul {
    background: rgb(59 68 75 / 94%) !important;
    box-shadow: 0.05em 0.2em 0.7em #4b4545 !important;
    border-color: slategray;
}


.awesomplete mark,
.awesomplete li:hover mark,
.awesomplete li[aria-selected="true"] mark {
	color: white !important;
	background-color: chocolate !important;
}

