:root {
	--ui-desktop-bodyBgColor: var(--ui-bgColor);
	--ui-desktop-boxBgColor: #375573;
	--ui-desktop-boxBorderColor: var(--ui-borderColor);	
}





/* FRAMES */

.uiFrame {
	background-color: var(--ui-desktop-boxBgColor);	
	border-color:var(--ui-desktop-boxBorderColor);
}








/* TABS */

/* landscape orientation tabs */
ul.uiTabsL li.uiTabSelected{               /* current tab */
    background-color: lightslategray;
    border-bottom-color: var(--ui-borderColor);
	color:navajowhite;
}       

div.uiTabsLContent{        				    /* content container */
    border:1px solid var(--ui-borderColor);
}

ul.uiTabsL{
	color:black;
}

ul.uiTabsL li {
    background-color: var(--ui-themeBgColor);
    text-shadow: none;
	color:lightgray;
}






/* portrait tabs */
ul.uiTabsP li.uiTabSelected{				/* current tab */
    background-color: lightslategray;
	color:navajowhite;
	border-top-color: var(--ui-borderColor);
	border-bottom-color: var(--ui-borderColor);
}

ul.uiTabsP{								
	box-shadow:2px 2px 5px black;
    background-color: var(--ui-themeBgColor);
	border-right-color: black;
}

ul.uiTabsP li {
    text-shadow: none;
	color: lightgray;
}

ul.uiTabsP li:hover{
	color:black;
	border-top-color: black;
	background-color: navajowhite;
	border-bottom-color: black;
}








/* FORMS */

.uiDialog{
    border-color: var(--ui-desktop-boxBorderColor);
	background-color: var(--ui-desktop-bodyBgColor);
	box-shadow: 1px 1px 30px 0px rgba(255,255,255,18%);	
}
        
.uiDialogWrapper {
    background-color:rgb(5 11 22 / 90%);
}







/* BLOCKS */
div.uiBlock h1									    /* block title */
{
	color:darkblue;
	border:1px solid var(--ui-borderColor);
	background-color:whitesmoke;
}


div.uiBlock > div {									
	border-left-color: chocolate;
	border-right-color: chocolate;
	border-bottom-color: chocolate;
}







/* STEPS LIST */
ul.uiSteps > li h1 {									/* step title */
	background-color:whitesmoke;
	border-top:1px solid var(--ui-borderColor);
	border-bottom:1px solid var(--ui-borderColor);
	color:darkblue;
}

ul.uiSteps > li h1 span{								/* step number */
	background-color: lightgray;
	border:1px solid darkgray;
    color:dimgray;
}





