/* FRAME */

.uiFrame {
	padding: 10px;
	border: 1px solid var(--ui-borderColor);
	background-color: whitesmoke;
}







/* TABS */

.uiTabsLFlex {                            	/* landscape tabs, all tabs in first row ; top container */
    display:flex;
    flex-direction: column;
    height: 100vh;
}

ul.uiTabsL, 								
ul.uiTabsL li{								/* row with all tabs */
    list-style:none;
    padding:0px;
    margin:0px;
}

ul.uiTabsL{
    display: flex;
}        

ul.uiTabsL li{								/* one tab */
    margin:0px 0.2em;
    padding:0.2em 0.4em;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: -1px;
    border:1px solid gray;
    text-shadow: 1px 1px 2px lightgray;
    background-color: whitesmoke;
    z-index: 99;
}

ul.uiTabsL li:first-child{
    margin-left:0.7em;
}        

div.uiTabsLContent{        				    /* content of current tab, below first row */
    border:1px solid gray;
    flex-grow: 1;  /* grow container in parent flex column */
	padding: 10px;
}

ul.uiTabsL li:hover {
    cursor: pointer;
    border-color:gray;
    background-color: white;
    border-bottom-color: white;
}

ul.uiTabsL li.uiTabSelected{               /* current tab */
    box-shadow: 1px -1px 6px rgba(0,0,0,0.6);
}       





.uiTabsPFlex {							    /* tabs in portrait orientation, one tab per line */
	display:flex;
	height:100vh; /* occuper tout l'espace */
}

ul.uiTabsP{									/* left margin with all tabs */
	border-right:1px solid gray;
	box-shadow:1px 0px 3px lightgray;
    overflow-y: auto;
	background-color:whitesmoke;
	list-style:none;
	font-size: 1em;
	padding:0px;
	margin:0px;
}

div.uiTabsPContent {						/* tab content */
	flex-grow:1;							
	display:flex;
	padding: 10px;
}

div.uiTabsPContent > div{					/* node containing iframes, grow it to occupy max space */
	flex-grow:1;
}

ul.uiTabsP li{								/* each tab */
	text-decoration:none;
	color: black;
	margin:0px;
    text-shadow: 1px 1px 2px lightgray;
	padding:8px 6px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	cursor:pointer;
}

ul.uiTabsP li:hover{
    background-color: white;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

ul.uiTabsP li.uiTabSelected{				/* current tab */
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}






/* FORMS */

/* prompt */
.uiPromptLib{
	padding-bottom:0.5em;
	font-size:  0.9em;
}

.uiPromptValue{
	width:100%;
}




/* prompt textarea */
.uiTextAreaLib{
	padding-bottom:0.5em;
	font-size:  0.9em;
}


.uiTextAreaCadre{            
    width:80%;
    height:80%;
    margin-top:auto !important;
}

.uiTextAreaCadre div.uiDialogContent {
    display:flex;
    flex-direction: column;
}

.uiTextAreaCadre div.uiDialogContent form {
    flex-grow: 1;
    display:flex;
}




/* richedit */
.uiRichEditCadreWMax {
    width:80%;
}




/* show, showAndSubmit */
.uiDialogCadre .uiDialogContent {
    display:flex;
    flex-direction: column;
}
.uiDialogCadre .uiDialogContent > iframe {
    flex-grow: 1;
    flex-shrink: 1;
    height: 1px;     /* bug, mais ensuite le dimensionnement va se faire avec flex-grow dans le container */
}



/* tailles cadres et alignements */
.uiPromptCadre,
.uiNotifyCadre,
.uiConfirmCadre{
    width:40em;
}

.uiConfirmCadre .uiDialogContent,
.uiNotifyCadre .uiDialogContent {
    text-align: center;
}



/* dialog */
.uiDialogWrapper {
	display: flex;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    background-color:rgb(20 29 43 / 80%);
    z-index: 101;
}

.uiDialog{
	padding: 1em;
	background-color:white;
	border:2px solid dimgray;
    margin:auto;
	display:flex;
    flex-direction: column;
    z-index: 102;
	box-shadow: 1px 1px 30px 0px gray;
}

.uiDialogVCentered {
}

.uiDialogTopAligned {
    margin-top:10em;
}

.uiDialogContent{
    flex-grow: 1;
}

.uiDialogButtons{
	margin-top:auto;
    padding-top:2em;
    margin-bottom:0.5em;
    text-align: center;
}

.dhx_widget {
	z-index: 99999999;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	text-shadow: none;
}







/* BLOCKS */

div.uiBlock										/* a content block : one line with icon, and a content frame below */
{
	margin:2em 0;
}

div.uiBlock h1									/* block title */
{
	text-transform:uppercase;
	font-weight:bold;
	display: flex;
    align-items: center;
	height:2em;
	font-size:1em;
	margin:0px;
    padding-left: 0.5em;
}

div.uiBlock h1 img								/* block icon */
{
	margin-right:8px;
}

div.uiBlock > div								/* block content */
{
	padding:0.7em 1em;
	border-left:1px solid var(--ui-borderColor);
	border-bottom:1px solid var(--ui-borderColor);
	border-right:1px solid var(--ui-borderColor);
	height:auto;
}







/* STEPS LIST */
ul.uiSteps {
    list-style: none;
}

ul.uiSteps, 							/* css reset */
ul.uiSteps > li, 
ul.uiSteps h1{
	margin:0px;
	padding:0px;
}

ul.uiSteps > li h1 + div{				/* content DIV and its margins */
	margin-top:5px;
	margin-bottom:20px;
}

ul.uiSteps > li h1{						/* step title */
	font-size:1em;
	font-weight:bold;
    display: flex;
    height: 1.8em;
    align-items:center;
}

ul.uiSteps > li h1 span{				/* step number */
	margin-left:5px;
	margin-right:10px;
	width:1.3em;
	line-height:1.3em;
	text-align:center;
	font-size: 0.9em;
}



