/* TABS */

ul.uiTabsP li.uiTabSelected{				
    background-color: var(--ui-themeBgColor);
}
 
ul.uiTabsL li.uiTabSelected{				
    background-color: var(--ui-themeBgColor);
    border-bottom-color: var(--ui-themeBgColor);
}       








/* FORMS */

.uiDialog{
    border-color:peru;
}
        







/* BLOCKS */
div.uiBlock h1
{
	color:darkblue;
	border:1px solid var(--ui-borderColor);
	background-color:whitesmoke;
}







/* STEPS LIST */
ul.uiSteps > li h1 {									/* step title */
	background-color:whitesmoke;
	border-top:1px solid var(--ui-borderColor);
	border-bottom:1px solid var(--ui-borderColor);
	color:darkblue;
}

ul.uiSteps > li h1 span{								/* step number */
	background-color: var(--ui-themeBgColor);
	border:1px solid peachpuff;
    color:dimgray;
}





