:root {
	--ui-themeBgColor: lemonchiffon;
}




/* BUTTONS AND FORM FIELDS */
.uiForm input, 
.uiForm select,
.uiForm textarea {								
	border:1px solid peachpuff;
    box-shadow: 0px 0px 4px lightgray;
    background-color: var(--ui-themeBgColor);
}

.uiForm input[readonly], 
.uiForm select[readonly],
.uiForm textarea[readonly],
.uiForm input[readonly]:focus, 
.uiForm select[readonly]:focus,
.uiForm textarea[readonly]:focus {				/* readonly inputs */
    border-color: lightgray;
    box-shadow: 0px 0px 4px lightgray;
    background-color: #fffdea;
}

.uiForm input[disabled], 
.uiForm select[disabled],
.uiForm textarea[disabled] {				    /* disabled inputs */
    background-color: gainsboro !important;
    color:gray !important;
	border:1px solid darkgray !important;
}

.uiForm input:focus, 
.uiForm select:focus,
.uiForm textarea:focus {						/* focused inputs */
    border-color:orange;
    box-shadow: 0px 0px 4px darkgray;
}


.uiForm input[type=button], 
.uiForm input[type=reset], 
.uiForm input[type=submit] {					/* buttons */
	background-color: gold;
	border: 1px solid peru;
	color: maroon;
}

.uiForm input[type=button]:hover, 
.uiForm input[type=reset]:hover, 
.uiForm input[type=submit]:hover{				/* buttons hover effect */
	box-shadow: 0px 0px 4px darkgray;
    background-color: var(--ui-themeBgColor);
}

.uiForm input[type=button]:focus,
.uiForm input[type=reset]:focus,
.uiForm input[type=submit]:focus{				/* focused buttons */
	box-shadow: 0px 0px 4px dimgray;
    background-color: white;
    color:black;
    border-color:black;
}






/* LISTS */
.uiList[data-total='H'] tr:nth-child(2n) td:last-of-type
{
    background-color:gold;
}







/* REQUEST FEEDBACK */
.uiRequestFeedback{	
    background-color:var(--ui-themeBgColor);	
    border:8px solid gold;	
}



